@use 'vuetify/styles' as *;
@use '@mdi/font/css/materialdesignicons.css' as *;
@use './_variables.scss' as *;
@use './_mixins.scss' as *;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: #F5F6FA;
    color: #232B2F;
    min-height: 100vh;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-container {
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .page-container {
        max-width: 900px;
    }
}

@media (max-width: 600px) {
    .page-container {
        max-width: 100vw;
        padding: 8px;
    }
}