@import './_variables.scss';
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
}

@mixin rounded {
    border-radius: $border-radius;
}

// ...добавлять по мере необходимости...