.adaptive-map-wrapper-row {
    margin-top: 0px !important;
}

.adaptive-map-wrapper-col {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.map-toolbar {
    min-width: 0;
}

.map-wrapper {
    height: 100vh;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}