@import 'vuetify/styles';
@import '@mdi/font/css/materialdesignicons.css';
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-container {
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .page-container {
        max-width: 900px;
    }
}

@media (max-width: 600px) {
    .page-container {
        max-width: 100vw;
        padding: 8px;
    }
}